
.form-control{
    text-align: left;
}

.form-control label{
    display: block;
    font-weight: bold;
    margin-bottom: .25rem;
    text-align: left;
    font-weight: bold;
}
.form-control input,
.form-control textarea{
    font: inherit;
    display: block;
    border-radius: 12px;
    padding: .5rem ;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;

}
.form-control textarea{
    height: 6rem;
}

.form-control input:focus,
.form-control textarea:focus{
    outline: none;
    border-color: #230052;
}